<!--<h1>{{title}} 🚀</h1>-->

<div class="search-bar">
    <form class="form-search" method="POST" action="/">
    <label for="category"></label>
    <select name='category' class="category" id="category">
        <option value="" selected disabled hidden>Category</option>
        <option value="house">House</option>
        <option value="sports">Sports</option>
        <option value="games">Games</option>
        <option value="garden">Garden</option>
    </select>
    <input type="search" class="form-control" name="title" placeholder="Search term..." >
<button class="button-search" type="submit">Button</Button>
</form>
</div>

 
<div class="middle-container">
  
    {{#each result}}
    {{#unless this.buyer}}
    <div class="item-list">
        <a href="/items/{{this._id}}"><div class="item-img-container"><img class="itemimg" src="{{this.img}}"></div>
            <h5>{{this.title}}</h5>
            <h6>${{this.price}}</h6>
            <h6>{{this.seller.username}}</h6>
        </a>
    </div>
    
     {{/unless}}
    {{/each}}
   
</div>
