<h1>Items page</h1>
<div class="item-container">
{{#each result}}
<div class="item-list">
<a href="/items/{{this.id}}"><img src="{{this.img}}"></a>
<h5>{{this.title}}</h4>
{{this.price}}$
{{this.seller}}
</div>
{{/each}}
</div>