<div class="item-detail-img">
<div class="item-detail-upper-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{result.img}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{result.img}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{result.img}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="buy-container">
  <p>{{result.seller.username}}</p>
  <p class="price">price: <span class="result-price"> ${{result.price}}</span></p>
  {{#if isUserBuy}}
  <form method="GET" action="/items/{{result._id}}">
  <button>Message</button>
  </form>
  {{else}}
  <form method="POST" action="/items/{{result._id}}">
  <button>I want it</button>
  </form>
  {{/if}}


</div>
</div>
  <div class="item-detail">
    <h2>{{result.title}}</h2>
    <hr>
    <p class="price">price: <span class="result-price"> ${{result.price}}</span></p>
    <h4>About this item:</h4>
    <div class="text-box">
    <p>{{result.description}}</p>
    </div>
    <ul>
      <li class="list-detail">Category: {{result.category}}</li>
      <li class="list-detail">Condition: {{result.condition}}</li>
    </ul>
    <p>{{result.seller.username}}</p>
    {{#if ownerIsVisitor}}
    <a href="/items/{{result._id}}/update">Edit</a>
    <a href="/items/{{result._id}}/delete">Delete</a>
    {{/if}}
  </div>
</div>