<div class="profile-container">
  <div class="profile-top-container">
    <div class="profile-img-container">
      <div class="fix-size-img"><img class="profile-img" src="{{imgPic}}"></div>
      <form class="profile-form-edit" action="/update" method="post" enctype="multipart/form-data">
        <label for="fileToUpload"><img class="profile-img-edit" src="../images/edit1.png"></label>
        <button class="profile-btn-update" type="submit"><img class="profile-img-edit-verified" src="../images/verified1.png"></button>
        <input type="file" name="fileToUpload" id="fileToUpload" accept="image/png, image/jpeg">
      </form>
    </div>
    <h1 class="username-profile">{{username}}</h1>
  </div>

  <div class="profile-bottom-container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <span class="accordion-btn-text">My Items for sale</span></button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="middle-container">

              {{#each sellerIs}}

              <div class="item-list">
                <a href="/items/{{this._id}}">
                  <div class="item-img-container"><img class="itemimg" src="{{this.img}}"></div>
                  <h5>{{this.title}}</h5>
                  {{#if this.buyer}}
                  <h6 class="sold">SOLD</h6>
                  {{else}}
                  ${{this.price}}
                  {{/if}}
                  <h6>{{this.seller.username}}</h6>
                </a>

              </div>

              {{/each}}

            </div>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="accordion-btn-text">My buying history</span>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="middle-container">
              {{#each buyerIs}}
              <div class="item-list">
                <a href="/items/{{this._id}}">
                  <div class="item-img-container"><img class="itemimg" src="{{this.img}}"></div>
                  <h5>{{this.title}}</h5>
                  <h5>{{this.price}}</h5>
                  <h6>{{this.seller.username}}</h6>
                </a>
              </div>
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>